.pageContainer {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem 4rem 2rem;
  width: 100%;
  margin-top: 6rem;
}

.header {
  font-size: 2rem;
  font-weight: 800;
  color: #222;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e0e0e0;
}
